.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);

  animation: overlayShow 150ms ease-out;
}
.modal-overlay[data-state="open"] {
  animation: overlayShow 150ms ease-out;
}


.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  border-radius: 8px;

  animation: contentShow 200ms ease-out;
}
.modal-content[data-state="open"] {
  animation: contentShow 200ms ease-out;
}

.modal-overlay[data-state],
.modal-content[data-state] {
  animation-fill-mode: forwards;
}

.modal-title {
  margin: 6px 12px 10px;
  font-size: 18px;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  color: #cccccc;
  padding: 0;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  
  transition: all 0.25s ease-in;
  &:hover{
    transform: scale(1.2) rotate(15deg);
  }
  &:active{
    scale: 0.7;
  }
}


@keyframes overlayShow {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}