.scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;}
.scroll::-webkit-scrollbar-track {
  background: transparent;}
.scroll::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.5);
  border-radius: 4px;}
.scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(120, 120, 120, 0.7);}