.inventoryModal{
  width: 700px;
  height: 400px;
}

.inventory{
  max-height: calc(100% - 70px);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: auto;

  .inventoryItem{
    height: 64px;
    position: relative;
    border-radius: 5px;
    background-color: hsl(0, 0%, 50%, 0.2);
    transition: all 0.2s ease-out;

    &:hover{
      background-color: hsl(0, 0%, 50%, 0.4);
    }

    & p{
      position: absolute;
      margin: 0;
      bottom: 1px;
      right: 4px
    }

    & img{
      width: 64px;
    }
  }
}

.empty{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & p{
    color: #bababa;
  }
}