.rewardItem{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 3px 6px;
  background-color: hsla(0, 0%, 0%, 0.3);
  border: 1px solid #707070;
  border-radius: 4px;
  max-width: 100px;

  & img{
    width: 32px;
  }

  .name{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .amount{
    position: absolute;
    bottom: 2px;
    right: 2px;
  }
}