.mineArea{
  margin-top: 40px;
  display: flex;
  gap: 40px;
}

.oreArea{
  width: 250px;
}

.hpWrapper {
  margin: 15px auto 0;
  position: relative;
  width: 200px;
  height: 20px;
  background: #222;
  border: 2px solid #646464;
  box-shadow: inset 0px 0px 10px black;
  border-radius: 2px;
  overflow: hidden;

  .hpFill {
    height: 100%;
    background: rgb(84, 84, 84);
    box-shadow: inset 0px 0px 5px black;
    transition: width 0.3s ease;
  }

  .hpText {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 0.85em;
    color: hsl(0, 0%, 100%, 0.5);
    text-shadow: 0 0 4px rgba(0,0,0,0.8);
    pointer-events: none;
  }

}