*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #e5e5e5;
  background-color: #151515;
  background-image: url('assets/styles/bg.png');
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


img{
  image-rendering: pixelated;
}

svg{
  vertical-align: middle;
}