:root {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  max-height: 100vh;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: #e5e5e5;
  background-color: #151515;
  background-image: url('assets/styles/bg.png');
}

img{
  image-rendering: pixelated;
}

svg{
  vertical-align: middle;
}