.header{
  max-width: 600px;
  margin: 10px auto;
  background-color: #1c1c1c;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  gap: 10px;

  & button{
    cursor: pointer;
    background-color: #292929;
    border: none;
    color: #ccc;
    padding: 6px 8px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    &:hover{
      transform: rotate(5deg);
      background-color: #313131;
    }
  }
}