.header{
  max-width: 600px;
  margin: 10px auto;
  background-color: #1c1c1c;
  box-shadow: 0px 2px 10px hsl(0, 0%, 0%, 0.5);
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  gap: 10px;

  & button{
    position: relative;
    cursor: pointer;
    background-color: #292929;
    border: none;
    color: #ccc;
    padding: 6px 8px;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    &:hover{
      transform: rotate(5deg);
      background-color: #313131;
    }
  }
}

.badge{
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e04444;
  font-weight: bold;
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(0.8); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}