.pickaxeInfoContainer{
  display: flex;
  width: 240px;
}

.mainInfo{
  margin-left: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: end;

  .noPickaxeName{
    color: #a4a4a4;
  }
  
  .pickaxeImage{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;

    background-color: hsl(0, 0%, 100%, 0.05);
    border-radius: 5px;
    border: 2px solid #323232;

    .removePickaxe{
      position: absolute;
      cursor: pointer;
      bottom: -10px;
      right: -15px;
      width: 32px;
      color: #c05959;
      transition: all 0.2s ease-in-out;
      &:hover{
        scale: 1.1;
      }
    }
    
    img{
      width: 100%;
    }

    svg{
      width: 48px;
      color: #323232;
    }
  }

  .stats{
    display: flex;
    flex-direction: column;
    align-items: end;
    > p{
      svg{
        margin-right: 5px;
        vertical-align: -7px;
        width: 18px;
      }
    }

    .hp{
      span{
        margin-left: 5px;
      }
    }

    .hp > svg:first-of-type{
      color: hsl(332, 100%, 79%, 0.6);
    }
    .dmg > svg:first-of-type{
      color: hsl(356, 74%, 55%, 0.6);
    }
    .pwr > svg:first-of-type{
      color: hsl(214, 100%, 79%, 0.6);
    }
  }
}