.pickaxeInfoContainer{
  display: flex;
  width: 240px;
}

.mainInfo{
  margin-left: auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: end;
  
  .pickaxeImage{
    width: 64px;
    height: 64px;

    background-color: hsl(0, 0%, 100%, 0.05);
    border-radius: 5px;
    border: 2px solid rgb(50, 50, 50);
    
    img{
      width: 100%;
    }
  }

  .stats{
    > p{
      svg{
        margin-right: 5px;
        vertical-align: -7px;
        width: 18px;
      }
    }

    .hp{
      span{
        margin-left: 5px;
      }
    }

    .hp > svg:first-of-type{
      color: hsl(332, 100%, 79%, 0.6);
    }
  }
}